@media screen and (max-width: 1050px) and (max-height:800px) {
  .container {
    padding-top: 200px;
  }

  .main-page {
    min-height: 650px;
  }

  .caption-image {
    top: 225px;
  }

  .buy-button {
    top: 250px;
  }

  .menu__eclipse1 {
    top: 200px;
  }

  .menu__eclipse2 {
    top: 300px;
  }

  .menu__eclipse3 {
    top: 400px;
  }

  .menu__eclipse4 {
    top: 500px;
  }

  .menu__eclipse5 {
    top: 600px;
  }

  .menu__active  {
    top: 96px;
  }

  .menu__list {
    padding-top: 195px;
    height: calc(100vh - 195px);
  }

  .opportunities__caption  {
    padding-top: 95px;
  }

  .caption::after {
    top: 160px;
  }

  .opportunities__item1 {
    top: 155px;
  }

  .opportunities__item2 {
    top: 195px;
  }

  .opportunities__item3 {
    top: 285px;
  }

  .opportunities__item4 {
    top: 375px;
  }

  .opportunities__item5 {
    top: 410px;
  }

  .oppAnimate {
    top: 300px;
    left: 250px;
  }

  .opportunities__gif  {
    top: 295px;
  }

  .recall__caption {
    padding-top: 95px;
  }

  .slider-button__border {
    top: 444px;
  }

  .contacts__caption {
    padding-top: 95px;
    padding-bottom: 50px;
  }

  .form-label {
    padding-top: 0;
  }

  .form__background  {
    top: 410px;
  }

  .form__background2 {
    top: 500px;
  }

  .contacts__input--active0 {
    top: 260px;
  }

  .contacts__input--active1 {
    top: 350px;
  }
}

@media screen and (min-width: 1051px) and (max-height:800px) {
  .main-page {
    min-height: 0;
  }

  .container {
    padding-top: 200px;
  }

  .caption-image {
    top: 250px;
  }

  .buy-button {
    top: 350px;
  }

  .main-menu {
    top: 200px;
  }

  .menu__line  {
    top: -200px;
  }

  .menu__eclipse1  {
    top: 200px;
  }

  .menu__eclipse2  {
    top: 300px;
  }

  .menu__eclipse3  {
    top: 400px;
  }

  .menu__eclipse4  {
    top: 500px;
  }

  .menu__eclipse5  {
    top: 600px;
  }

  .menu__active {
    top: 96px;
  }

  .opportunities__caption  {
    padding-top: 155px;
  }

  .caption::after {
    top: 220px;
  }

  .opportunities__caption {
    padding-bottom: 50px;
  }

  .opportunities__item1 {
    top: 135px;
  }

  .opportunities__item2 {
    top: 185px;
  }

  .opportunities__item3 {
    top: 325px;
  }

  .opportunities__item4 {
    top: 445px;
  }

  .opportunities__item5 {
    top: 505px;
  }

  .oppAnimate {
    top: 350px;
    left: 250px;
  }

  .opportunities__item__name  {
    top: 100px;
    left: 0;
  }

  .opportunities__item__name5 {
    top: 120px;
  }

  .opportunities__gif  {
    top: 314px;
  }

  .recall__caption  {
    padding-top: 155px;
    padding-bottom: 40px;
  }

  .slider-button__border  {
    top: 536px;
  }

  .contacts__caption {
    padding-top: 155px;
    padding-bottom: 45px;
  }

  .form-label {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .form__background  {
    top: 415px;
  }

  .form__background2  {
    top: 505px;
  }

  .contacts__input--active0 {
    top: 265px;
  }

  .contacts__input--active1 {
    top: 355px;
  }
}
